body, html {
  background: #e2e2e2; }

#canvas {
  font-family: 'Alegreya', serif;
  -webkit-box-shadow: 0px 0px 31px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 31px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 31px -5px rgba(0, 0, 0, 0.5); }

#chart {
  border: black solid 1px;
  background: white; }

.links line {
  stroke: #aaa; }

.flag {
  position: absolute; }
